<a href="https://colab.research.google.com/github/mithin120/713_AD_programs/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

data = {
    'square_feet_area': [8500, 9600, np.nan, 11250,np.nan, 9550, 14260, np. nan, 13830, 11500],
    'Year_built': [2003, 1976, 2001, np.nan, 1998, 2000, 2006, 1978, 1950, np. nan],
    'over_all_condition': [5, 8, 6, 7, np. nan, 7, 8, 6, np. nan, 7],
    'ready_to_move':['Yes','No','No',np.nan,'No',np.nan,'No','Yes','No','Yes'],
    'Sale_price': [200000, 180000, 215000, 250000, 210000, 190000, 230000, 225000, 220000, 240000]
}
df = pd. DataFrame(data)

print("Original DataFrame:")
print(df)
print(df.isnull().sum)

df['square_feet_area'].fillna(df['square_feet_area'].mean(), inplace=True)
df['Year_built'].fillna(df['Year_built'].mean(), inplace=True)
df['over_all_condition'].fillna(df['over_all_condition'].mean(), inplace=True)

Original DataFrame:
   square_feet_area  Year_built  over_all_condition ready_to_move  Sale_price
0            8500.0      2003.0                 5.0           Yes      200000
1            9600.0      1976.0                 8.0            No      180000
2               NaN      2001.0                 6.0            No      215000
3           11250.0         NaN                 7.0           NaN      250000
4               NaN      1998.0                 NaN            No      210000
5            9550.0      2000.0                 7.0           NaN      190000
6           14260.0      2006.0                 8.0            No      230000
7               NaN      1978.0                 6.0           Yes      225000
8           13830.0      1950.0                 NaN            No      220000
9           11500.0         NaN                 7.0           Yes      240000
<bound method DataFrame.sum of    square_feet_area  Year_built  over_all_condition  ready_to_move  Sale_price
0             False       False               False          False       False
1             False       False               False          False       False
2              True       False               False          False       False
3             False        True               False           True       False
4              True       False                True          False       False
5             False       False               False           True       False
6             False       False               False          False       False
7              True       False               False          False       False
8             False       False                True          False       False
9             False        True               False          False       False>

<ipython-input-1-17e4380fd55f>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['square_feet_area'].fillna(df['square_feet_area'].mean(), inplace=True)
<ipython-input-1-17e4380fd55f>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year_built'].fillna(df['Year_built'].mean(), inplace=True)
<ipython-input-1-17e4380fd55f>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['over_all_condition'].fillna(df['over_all_condition'].mean(), inplace=True)